.title {
  padding-top: 6rem;
  text-align: center;
}

.allPosts {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
  padding-bottom: 5rem;

  padding-top: 2rem;
}

.card {
  transition: all 0.5s;
}

.card:hover {
  transform: scale(1.1);
}
