.App {
  text-align: center;
  font-family: "Bruno Ace SC", cursive !important;
  border-left: 5.5rem solid #013a65;
  border-right: 5.5rem solid #013a65;
  min-height: 100vh;
}

.App a {
  text-decoration: none;
}
